<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="css/agency.min.css" rel="stylesheet">

    <style type="text/css">

    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
<!-- Google Tag Manager (noscript) -->

       <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                
                <div class="container"> 
                            <span id="home_icon" class="glyphicon glyphicon-home glyphicon-large"> </span>
                            <a class="navbar-brand page-scroll" href="home.html"> NamaStudy </a>
                </div>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="home.html">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="description.html">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="activitylog.html">Activity Log</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="index.html">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <!-- Header -->
    <header>
        <div class="form_container">
            <div class="intro-text">
            <h1>NamaStudy</h1>
                <div class="intro-lead-in">Making studying a good habit, one assignment at a time</div>
                    <div class="jumbotron">
                        
                      <form id="create_account_form" action="index.html">
                          <table align="center">
                            <tr>
                              <td align="left"><input id="usr_name" class="login" type="text" name="first" placeholder=" Username" /></td>
                            </tr>
                            <tr>
                              <td align="left"><input id="password" class="login pswd" type="password" name="pswd" placeholder=" Password" /></td>
                            </tr>
                            <tr>
                              <td align="left"><input class="login pswd" type="password" name="pswd" placeholder=" Retype Password" /></td>
                            </tr>
                          </table>
                          <br>
                          <input id="create_button" class="btn-primary btn-lg" align="center" type="submit" value="Create acount" onclick="checkUsrNpass()"></input>
                        </form>
                    </div>
                </div>
    </header>

    <script type="text/javascript">
        function checkUsrNpass() {
            var usr_obj = {
                userName: "",
                password: "",
                log_list: [],
                curr_activity: ""
            };
            var usrName = $("#usr_name").val();
            var button_account = document.getElementById("create_button");

           if(!usrName) { //If user name is empty
            alert("Please input a User Name");
            button_account.setAttribute('type', 'button');
        } else {
            usr_obj.userName = usrName;
            //alert("The user name is " + usr_obj.userName);
            button_account.setAttribute('type', 'submit');
        }

        //Check if the passwords are the same
        var passwd = document.getElementsByClassName("pswd");
        if(passwd[0].value == '' || passwd[1].value == '') {
            alert("Empty password");
            button_account.setAttribute('type', 'button');
        } else if(passwd[0].value != passwd[1].value) {
            passwd[0].value = '';
            passwd[1].value = '';
            alert("Your password did not match");
            button_account.setAttribute('type', 'button');
        } else if(passwd[0].value == passwd[1].value) {
            usr_obj.password = passwd[0].value;
            button_account.setAttribute('type', 'submit');
        }

        localStorage.setItem('nama_user', JSON.stringify(usr_obj));
    }
    </script>
    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/agency.min.js"></script>

    <script>
        var user = {username:"", password:"", workint:"", breakint:""};
        user[0]
    </script>
</body>

</html>
