<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NamaStudy</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="css/agency.min.css" rel="stylesheet">

    <style type="text/css">

    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <div class="container"> 
                            <span id="home_icon" class="glyphicon glyphicon-home glyphicon-large"> </span>
                            <a class="navbar-brand page-scroll" href="home.html"> NamaStudy </a>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="home.html">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="description.html">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="activitylog.html">Activity Log</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="index.html">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <!-- Header -->
    <header>
        <div class="form_container">
            <div class="intro-text">
            <h1>NamaStudy</h1>
                <div class="intro-lead-in">Making studying a good habit, one assignment at a time</div>
                    <div class="jumbotron">
                        
                      <form action="home.html">
                          <table align="center">
                            <tr>
                              <td align="left"><input id="login_name" class="login" type="text" name="first" placeholder=" Username" /></td>
                            </tr>
                            <tr>
                              <td align="left"><input id="login_passwd" class="login" type="password" name="pswd" placeholder=" Password" /></td>
                            </tr>
                          </table>
                          <br>
                          <input id="login_bttn" class="btn-primary btn-lg" align="center" type="submit" value="      Login      " onclick="verifyCredentials()"></input>
                        </form>
                        <!--
                        <form action="createaccount.html">
                            <input class="btn-primary btn-lg" align="center" type="submit" value="Create Acount"></input>
                        </form>
                        -->
                        </br>
                        <h4><a class="page-scroll" style="color: white;" href="createaccount.html"><u>Create Account</u></a></h4>

                        <a class="page-scroll" href="home.html" style="color:white;" onclick="guestUser()"><u>continue as guest</u></a>
                       <!-- <form action="home.html">
                            <input class="btn-primary btn-lg" align="center" type="submit" value="Skip"></input>
                            <p> Your data will not be saved </p>
                        </form> -->
                    </div>
                </div>
    </header>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/agency.min.js"></script>


    <script type="text/javascript">


    //localStorage.clear();
        // for(var i in localStorage) {
        //     console.log(i + ' = ' + localStorage[i]);
        // }
        function guestUser() {
            var guest_user = {
                userName: "",
                password: "",
                log_list: [],
                curr_activity: ""
        
            };
            localStorage.setItem('guest', JSON.stringify(guest_user));
        }
        function verifyCredentials() {
            var login_name = $("#login_name").val();
            var passwd = $("#login_passwd").val();
            //alert(login_name + " " + passwd);

            if(login_name == '') {
                alert("Please type your user name");
                document.getElementById("login_bttn").setAttribute('type', 'button');
                //return false;
            } else {
                curr_usr = JSON.parse(localStorage.getItem('nama_user'));
                if(curr_usr.userName != login_name) {
                    alert("User does not exists");
                    document.getElementById("login_bttn").setAttribute('type', 'button');
                } else if(curr_usr.userName == login_name) {
                    if(curr_usr.password != passwd) {
                        alert("Password is incorrect");
                        $("#login_passwd").val('');
                        document.getElementById("login_bttn").setAttribute('type', 'button');
                    } else {
                        document.getElementById("login_bttn").setAttribute('type', 'submit');
                    }
                }
            }
        }
    </script>

</body>

</html>
