<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <title>NamaStudy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<h1 style="color: red">This will be our home page</h1>
	<div class= "jumbotron">
		<h1>NamaStudy</h1>
		<p>Making studying a good habit, one assignment at a time.</p>
	</div>

	<form action="./intervals.html">
		<input type="submit" name="submit" value="next">
	</form>
</body>


</html>
