<!DOCTYPE html>

<head>
	<meta charset="utf-8">
    <title>NamaStudy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<h1 style="color: red">Here we will start the time</h1>
	<div class= "jumbotron">
	<div>
		<div style="float: right">
			World
		</div>
		<div style="float: left">
			Hello
		</div>
	</div>
		<h1>NamaStudy</h1>
		<p>Making studying a good habit, one assignment at a time.</p>
	</div>

	<form action="./index.html" id="activityForm">
		<p>Clicking the submit button will take you back to the login page</p>
		<input type="submit" name="">
	</form>
	<select form="activityForm">
		<option>30 minutes</option>
		<option>1 hour</option>
		<option>1 hour and 30 minutes</option>
	</select>

</body>